ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

li {
    list-style: none;
    gap: 1rem;
    display: block;
}

header {
    column-gap: 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid brown;
    padding: 20px;
    text-align: center;
    background: #E89248;
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    border: 2px solid brown;
    font-family: 'Alfa Slab One';
    background-color: #E89248;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

section {
    background-color: #E89248;
    color: white;
    text-align: center;
    column-gap: 20px;
    justify-content: center;

}

body {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("chinook.jpg");
    background-size: 30%;
   
}

main {
    border: 2px solid brown;
    row-gap: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #E89248;
    border-radius: 10px;

}

.para {
    border-radius: 15px;
    font-size: 150%;
}

.family {
    border-radius: 20px;
    padding: 10px;
    border: 10px solid transparent;
    border-image: url("fish.jpg") 40 repeat;
    


}
div{
    display: flex;
    align-items: center ;
    background-color: #E89248;
}


.shopimages{
    display: flex;
justify-content: space-around;
margin-top: 20px;
border-radius: 10px;
border: 2px solid brown;

}
h3 {
    column-gap: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid brown;
    padding: 20px;
    text-align: center;
    background: #E89248;
}
.container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid brown;
    padding: 20px;
    background: #E89248;
}
.container:nth-child(2){
    order: 1;
    background: #E89248; 
}
.container:nth-child(3){
    order:1;
}
h4{
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid brown;
    padding: 20px;
    background: lightblue;
}
/*sales page*/
.sales{
    display: block;
}
h2 {
    column-gap: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid brown;
    padding: 20px;
    text-align: center;
    background: #ff91a4;
}

table {
    border: 1px solid;
    text-align: center;
    background-color: #ff91a4;
    align-items: center;
    width: 100%;
    overflow-x: auto
}

th,
td {
    border: 1px solid;
}

footer {
    column-gap: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid brown;
    padding: 20px;
    text-align: center;
    background: #E89248;

}


a:link,
a:visited {
    background-color: green;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    box-shadow: #553c9a;
}
